<div class="container mt-3">
    <!-- SECTION MODAL -->
    <div class="modal fade" id="sectionModal" tabindex="-1" aria-labelledby="sectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="sectionModalLabel">
                        Nueva sección
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form ngNativeValidate (ngSubmit)="addSection()">
                    <div class="modal-body">
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="sectionModalName" class="form-label">Nombre:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="sectionModalName" class="form-control" [(ngModel)]="iSectionAdd" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="iSectionAdd == '' ? '': 'modal'" data-bs-dismiss="modal">
                          Agregar
                        </button>
                        <!--<input type="submit" class="btn btn-primary" value="Save changes" />-->
                        <!-- data-bs-dismiss="modal" para que se cierre -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- HEADER MODAL -->
    <div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="headerModalLabel">Nuevo header</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form ngNativeValidate (ngSubmit)="addHeader()">
                    <div class="modal-body">
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="headerModalName" class="form-label">Nombre:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="headerModalName" class="form-control" [(ngModel)]="iHeaderName" required/>
                            </div>
                        </div>
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="InputParameterModalType" class="form-label">Tipo:</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-select" name="InputParameterModalType" aria-label="Tipo" [(ngModel)]="iHeaderType" required>
                                <option value="" disabled selected hidden>
                                  Seleccionar...
                                </option>              
                                <option
                                  *ngFor="let dataType of dataTypes"
                                  [label]="dataType.name | titlecase"
                                  [value]="dataType.id"
                                ></option>
                              </select>
                            </div>
                        </div>
                        <div class="row align-items-center ps-2 pt-2">
                            <label for="headerModalDescription" class="form-label">Descripción:</label>
                        </div>
                        <div class="row align-items-center px-3">
                            <textarea name="headerModalDescription" class="form-control" rows="4" [(ngModel)]="iHeaderDescription" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="(iHeaderName && iHeaderType && iHeaderDescription) == '' ? '': 'modal'" data-bs-dismiss="modal">
                            Agregar
                        </button>
                        <!--data-bs-dismiss="modal"-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- INPUT PARAMETER MODAL -->
    <div class="modal fade" id="inputParameterModal" tabindex="-1" aria-labelledby="inputParameterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="inputParameterModalLabel">
                        Nuevo parámetro de entrada
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form ngNativeValidate (ngSubmit)="addInputParameter()">
                    <div class="modal-body">
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="InputParameterModalName" class="form-label">Nombre:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="InputParameterModalName" class="form-control" [(ngModel)]="iInputParamName" required />
                            </div>
                        </div>
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="InputParameterModalType" class="form-label">Tipo:</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-select" name="InputParameterModalType" aria-label="Tipo" [(ngModel)]="iInputParamType" required>
                                <option value="" disabled selected hidden>
                                  Seleccionar...
                                </option>
                                <option
                                  *ngFor="let dataType of dataTypes"
                                  [label]="dataType.name | titlecase"
                                  [value]="dataType.id"
                                ></option>
                              </select>
                            </div>
                        </div>
                        <div class="row align-items-center ps-2 pt-2">
                            <label for="InputParameterModalDescription" class="form-label">Descripción:
                      </label>
                        </div>
                        <div class="row align-items-center px-3">
                            <textarea name="InputParameterModalDescription" class="form-control" rows="4" [(ngModel)]="iInputParamDescription" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="(iInputParamName && iInputParamType && iInputParamDescription) == '' ? '': 'modal'" data-bs-dismiss="modal">
                        Agregar
                        </button>
                        <!--data-bs-dismiss="modal"-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- OUTPUT PARAMETER MODAL -->
    <div class="modal fade" id="outputParameterModal" tabindex="-1" aria-labelledby="outputParameterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="outputParameterModalLabel">
                        Nuevo parámetro de salida
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form ngNativeValidate (ngSubmit)="addOutputParameter()">
                    <div class="modal-body">
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="OutputParameterModalName" class="form-label">Nombre:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="OutputParameterModalName" class="form-control" [(ngModel)]="iOutputParamName" required />
                            </div>
                        </div>
                        <div class="row align-items-center p-2">
                            <div class="col-md-2">
                                <label for="OutputParameterModalType" class="form-label">Tipo:</label >
                            </div>
                            <div class="col-md-10">
                                <select
                                class="form-select"
                                name="OutputParameterModalType"
                                aria-label="Tipo"
                                [(ngModel)]="iOutputParamType"
                                required
                                >
                                <option value="" disabled selected hidden>
                                    Seleccionar...
                                </option>
                                <!-- Si esto esta seleccionado error-->
                                <option
                                    *ngFor="let dataType of dataTypes"
                                    [label]="dataType.name | titlecase"
                                    [value]="dataType.id"
                                ></option>
                                </select>
                            </div>
                            </div>
                                <div class="row align-items-center ps-2 pt-2">
                                <label for="OutputParameterModalDescription" class="form-label"
                                    >Descripción:
                                </label>
                                </div>
                                <div class="row align-items-center px-3">
                                    <textarea name="OutputParameterModalDescription" class="form-control" rows="4" [(ngModel)]="iOutputParamDescription" required></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="(iOutputParamName && iOutputParamType && iOutputParamDescription) == '' ? '': 'modal'" data-bs-dismiss="modal">
                                Agregar
                            </button>
                            <!--data-bs-dismiss="modal"-->
                        </div>
                </form>
                </div>
            </div>
        </div>

        <!-- QUERY STRING MODAL -->
        <div class="modal fade" id="queryStringModal" tabindex="-1" aria-labelledby="queryStringModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100" id="queryStringModalLabel">
                            Nuevo query string
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form ngNativeValidate (ngSubmit)="addQueryString()">
                        <div class="modal-body">
                            <div class="row align-items-center p-2">
                                <div class="col-md-2">
                                    <label for="queryStringModalName" class="form-label">Nombre:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="queryStringModalName" class="form-control" [(ngModel)]="iQueryStringName" required />
                                </div>
                            </div>
                            <div class="row align-items-center p-2">
                                <div class="col-md-2">
                                    <label for="queryStringModalType" class="form-label">Tipo:</label>
                                </div>
                                <div class="col-md-10">
                                    <select
                                    class="form-select"
                                    name="queryStringModalType"
                                    aria-label="Tipo"
                                    [(ngModel)]="iQueryStringType"
                                    required
                                    >
                                    <option value="" disabled selected hidden>
                                        Seleccionar...
                                    </option>
                                    <!-- Si esto esta seleccionado error-->
                                    <option
                                        *ngFor="let dataType of dataTypes"
                                        [label]="dataType.name | titlecase"
                                        [value]="dataType.id"
                                    ></option>
                                    </select>
                                </div>
                            </div>
                            <label for="queryStringModalObligatory" class="form-label p-2"
                            >Obligatorio:</label>

                            <!--Como poner required uno u otro-->
                            <label class="radio-inline p-2">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                value="1"
                                [(ngModel)]="iQueryStringRequired"
                                required
                            />Sí
                            </label>
                            <label class="radio-inline p-2">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                value="0"
                                [(ngModel)]="iQueryStringRequired"
                                required
                            />No
                            </label>
                            <div class="row align-items-center ps-2 pt-2">
                                <label for="queryStringModalDescription" class="form-label">Descripción:</label>
                            </div>
                            <div class="row align-items-center px-3">
                                <textarea name="queryStringModalDescription" class="form-control" rows="4" [(ngModel)]="iQueryStringDescription" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="(iQueryStringName && iQueryStringType && iQueryStringRequired && iQueryStringDescription) == '' ? '': 'modal'" data-bs-dismiss="modal">
                                Agregar
                            </button>
                            <!--data-bs-dismiss="modal"-->
                        </div>
                    </form>
                </div>
                </div>
                </div>

                <!-- FORM -->
                <div class="row">
                    <div class="col-md-11 mx-auto">
                        <form ngNativeValidate (ngSubmit)=" !isEditing ? addRoute() : onEdit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="route-name" class="form-label">Nombre</label>
                                        <input type="text" name="route-name" class="form-control" id="route-name" [(ngModel)]="iName" required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="route-url" class="form-label">URL de la ruta</label>
                                        <input type="text" name="route-url" class="form-control" id="route-url"  [(ngModel)]="iURL" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="route-method" class="form-label">Sección</label>
                                    <div class="mb-3">
                                        <div class="row align-items-center g-0">
                                            <div class="col-md-11">
                                                <select class="form-select" name="route-section" id="route-section" [(ngModel)]="iSection" required>
                                                    <option value="" disabled selected hidden>
                                                        Seleccionar...
                                                    </option>
                                                    <option
                                                        *ngFor="let section of sections"
                                                        [label]="section.name"
                                                        [value]="section.id"
                                                    ></option>                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-1 text-center">
                                                <i data-bs-toggle="modal" data-bs-target="#sectionModal" class="fa-solid fa-square-plus fa-lg"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="route-method" class="form-label">Método</label>
                                    <div class="mb-3">
                                        <select class="form-select" name="route-method" id="route-method" [(ngModel)]="iMethod" required>
                                        <option value="" disabled selected hidden>Seleccionar...</option>
                                        <option value="GET">GET</option>
                                        <option value="POST">POST</option>
                                        <option value="PUT">PUT</option>
                                        <option value="DELETE">DELETE</option>
                                        </select>
                                    </div>
                                </div>
                                <label for="api-route-description" class="form-label">
                                    Descripción
                                </label>
                                <div class="mb-3">
                                    <textarea class="form-control" name="route-description" id="route-description" rows="4" [(ngModel)]="iDescription" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <!--VALIDAR 1 o mas-->
                                <div class="col-md-3">
                                    <h6 class="text-center">Headers</h6>
                                    <div class="max-height">
                                        <div *ngFor="let header of headers; let i = index" class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" [value]="header.name" disabled />
                                                <span class="input-group-text"><i
                                                    (click)="deleteHeader(i)"
                                                    class="fa-solid fa-circle-xmark fa-lg">
                                                </i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <i data-bs-toggle="modal" data-bs-target="#headerModal" class="fa-solid fa-square-plus fa-lg"></i>
                                    </div>
                                </div>
                                <!--VALIDAR 1 o mas-->
                                <div class="col-md-3">
                                    <h6 class="text-center">Parámetros de entrada</h6>
                                    <div class="max-height">
                                        <div *ngFor="let input_parameter of input_parameters; let i = index" class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" [value]="input_parameter.name" disabled />
                                                <span class="input-group-text"><i
                                                    (click)="deleteInputParameter(i)"
                                                    class="fa-solid fa-circle-xmark fa-lg">
                                                </i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <i data-bs-toggle="modal" data-bs-target="#inputParameterModal" class="fa-solid fa-square-plus fa-lg"></i>
                                    </div>
                                </div>
                                <!--VALIDAR 1 o mas-->
                                <div class="col-md-3">
                                    <h6 class="text-center">Parámetros de salida</h6>
                                    <div class="max-height">
                                        <div *ngFor="let output_parameter of output_parameters; let i = index" class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" [value]="output_parameter.name" disabled />
                                                <span class="input-group-text"><i
                                                    (click)="deleteOutputParameter(i)"
                                                    class="fa-solid fa-circle-xmark fa-lg">
                                                </i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <i data-bs-toggle="modal" data-bs-target="#outputParameterModal" class="fa-solid fa-square-plus fa-lg"></i>
                                    </div>
                                </div>
                                <!--VALIDAR 0 o mas-->
                                <div class="col-md-3">
                                    <h6 class="text-center">Query strings</h6>
                                    <div class="max-height">
                                        <div *ngFor="let query_string of query_strings; let i = index" class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" [value]="query_string.name" disabled />
                                                <span class="input-group-text"><i
                                                    (click)="deleteQueryString(i)"
                                                    class="fa-solid fa-circle-xmark fa-lg">
                                                </i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <i data-bs-toggle="modal" data-bs-target="#queryStringModal" class="fa-solid fa-square-plus fa-lg"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid col-md-2 ms-auto mt-3">
                                <div *ngIf="!isEditing; then addButton; else editButton"></div>
                                <ng-template #addButton>
                                    <input class="btn btn-primary" type="submit" value="Agregar ruta" />
                                </ng-template>
                                <ng-template #editButton>
                                    <input class="btn btn-primary" type="submit" value="Guardar" />
                                </ng-template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>