<div class="container mt-5">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          ¿Seguro que quieres cambiar el rol de
          {{ usersData[indexSelectedUser].first_name }}
          {{ usersData[indexSelectedUser].last_name }}?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="editRole()"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 p-0">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          [(ngModel)]="query"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <div class="table-responsive-md">
        <table class="table text-center align-middle">
          <thead class="text-white" style="background-color: #282c38">
            <tr>
              <th class="col-6">Nombre</th>
              <th class="col-6">Rol</th>
            </tr>
          </thead>
          <tbody>
            <tr class="noborder" *ngFor="let user of search(); let i = index">
              <td scope="row">{{ user.first_name }} {{ user.last_name }}</td>
              <td scope="row">
                <select
                  [(ngModel)]="roleIds[i]"
                  (change)="onRoleChange(user.id, roleIds[i], i)"
                >
                  <option [ngValue]="1" [selected]="user.role_id == 1">
                    Master
                  </option>
                  <option [ngValue]="2" [selected]="user.role_id == 2">
                    Admin
                  </option>
                  <option [ngValue]="3" [selected]="user.role_id == 3">
                    Usuario
                  </option>
                </select>
                <div
                  *ngIf="user.role_id != roleIds[i]; then thenBlockImage"
                ></div>
                <ng-template #thenBlockImage>
                  <i
                    class="fa-solid fa-floppy-disk ms-3"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  ></i>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
