h1 {
    padding-top: 60px;
    padding-left: 175px;
}

.estatus {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1aa028;
}

.estatus-error {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ce1010;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

.clickable {
    cursor: pointer;
}