
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 offset-md-1 p-0">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-1 ps-1 pe-0">
            <div class="d-grid gap-2">
                <button class="btn text-white" type="button" style="background-color: #282C38;">AGREGAR</button>
              </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-10 mx-auto">
            <!-- TABLE HEADER -->
            <div class="row py-3 text-white text-center" style="background-color: #282C38;">
                <div class="col-md">Nombre</div>
                <div class="col-md">Descripción</div>
                <div class="col-md">URL</div>
                <div class="col-md">Estatus</div>
            </div>
            <!-- CONTENT -->
            <div class="row align-items-center text-center py-3 border-bottom">
                <div class="col-md ">Api #1</div>
                <div class="col-md">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#descripcion1" aria-expanded="false">
                        Descripción 1
                    </button>
                    <div class="collapse" id="descripcion1" style="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sunt earum
                            architecto nesciunt sit porro magnam omnis quas dolor ut.</p>
                    </div>
                </div>
                <div class="col-md">
                    <a routerLink="/api/1">https://api1.com/</a>
                </div>
                <div class="col-md">
                    <div class="estatus mx-auto"></div>
                </div>
            </div>

            <div class="row align-items-center text-center py-3 border-bottom">
                <div class="col-md">Api #2</div>
                <div class="col-md">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#descripcion2" aria-expanded="false">
                        Descripción 2
                    </button>
                    <div class="collapse" id="descripcion2" style="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sunt earum architecto
                            nesciunt sit porro magnam omnis quas dolor ut.</p>
                    </div>
                </div>
                <div class="col-md">
                    <a routerLink="/api/2">https://api2.com/</a>
                </div>
                <div class="col-md">
                    <div class="estatus-error mx-auto"></div>
                </div>
            </div>

            <div class="row align-items-center text-center py-3 border-bottom">
                <div class="col-md">Api #3</div>
                <div class="col-md">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#descripcion3" aria-expanded="false">
                        Descripción 3
                    </button>
                    <div class="collapse" id="descripcion3" style="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sunt earum
                            architecto nesciunt sit porro magnam omnis quas dolor ut.</p>
                    </div>
                </div>
                <div class="col-md">
                    <a routerLink="/api/3">https://api3.com/</a>
                </div>
                <div class="col-md">
                    <div class="estatus mx-auto"></div>
                </div>
            </div>
            
            <div class="row align-items-center text-center py-3 border-bottom">
                <div class="col-md">Api #4</div>
                <div class="col-md">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#descripcion4" aria-expanded="false">
                        Descripción 4
                    </button>
                    <div class="collapse" id="descripcion4" style="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sunt earum
                            architecto nesciunt sit porro magnam omnis quas dolor ut.</p>
                    </div>
                </div>
                <div class="col-md">
                    <a routerLink="/api/4">https://api4.com/</a>
                </div>
                <div class="col-md">
                    <div class="estatus mx-auto"></div>
                </div>
            </div>
            
            <div class="row align-items-center text-center py-3 border-bottom">
                <div class="col-md">Api #5</div>
                <div class="col-md">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#descripcion5" aria-expanded="false">
                        Descripción 5
                    </button>
                    <div class="collapse" id="descripcion5" style="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sunt earum
                            architecto nesciunt sit porro magnam omnis quas dolor ut.</p>
                    </div>
                </div>
                <div class="col-md">
                    <a routerLink="/api/5">https://api5.com/</a>
                </div>
                <div class="col-md">
                    <div class="estatus-error mx-auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
