:root {
  --azul-inflection: rgb(37, 169, 224);
}
.btn-primary {
  color: #fff;
  background-color: #f1592a;
  border-color: #f1592a;
}

.btn-primary:focus,
.btn-primary:active {
  border-color: #f1592a;
  box-shadow: 0 0 0 0.2rem #f1582a80;
}

.form-control:focus {
  border-color: var(--azul-inflection);
  box-shadow: 0 0 0 0.2rem #2ab2f180;
}
