<h1>Nueva API</h1>

<div class="container mt-3">

    <div class="row align-items-center text-left w-50 py-3">

        <div class="col-md px-0">
            <h5>Nombre:</h5>
        </div>

        <div class="col-md-6 px-0">
            <input type="text" class="form-control" aria-label="Nombre"
                aria-describedby="basic-addon1">
        </div>

    </div>
        
    <div class="row align-items-center text-left w-50 py-3">

        <div class="col-md px-0">
            <h5>Descripción:</h5>
        </div>

        <div class="col-md-6 px-0">
            <input type="text" class="form-control" aria-label="Descripcion"
                aria-describedby="basic-addon1">
        </div>

    </div>

    <div class="row align-items-center text-left w-50 py-3">

        <div class="col-md px-0">
            <h5>URL:</h5>
        </div>

        <div class="col-md-6 px-0">
            <input type="text" class="form-control" aria-label="URL"
                aria-describedby="basic-addon1">
        </div>

    </div>

</div>





