<!-- <div class="d-flex flex-column"> -->
    <div class="container-fluid d-flex flex-fill">
        <div class="row row-height">
            <div class="col-md-3 left">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Overview</a></li>
                                <li><a href="#" class="link-dark rounded">Updates</a></li>
                                <li><a href="#" class="link-dark rounded">Reports</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Overview</a></li>
                                <li><a href="#" class="link-dark rounded">Updates</a></li>
                                <li><a href="#" class="link-dark rounded">Reports</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Overview</a></li>
                                <li><a href="#" class="link-dark rounded">Updates</a></li>
                                <li><a href="#" class="link-dark rounded">Reports</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md right">
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
                <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure error soluta officiis
                    adipisci libero provident beatae asperiores eveniet modi unde totam qui sit nemo recusandae sed,
                    deserunt blanditiis veniam?</p>
            </div>
        </div>
    </div>
    <!-- </div> -->