/* You can add global styles to this file, and also import other style files */
.btn-primary {
  color: #fff;
  background-color: #f1592a;
  border-color: #f1592a;
}

.btn-primary:focus,
.btn-primary:active {
  border-color: #f1592a;
  box-shadow: 0 0 0 0.2rem #f1582a80;
}

.form-control:focus {
  border-color: #f1592a;
  box-shadow: 0 0 0 0.2rem #f1582a80;
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.1s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
